*{
    margin: 0;
    box-sizing: border-box;
    padding: 0; 
    font-family:sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
    
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.gallery img{
    width: 100%;
}

.heading{
    padding:100px;
  }
  
footer{
    margin: 20px;
    padding: 20px;
}
